# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-python
desktop-release
desktop-release-*
desktop-release-packager
desktop-release-installer
*.local
uploads
packages
.release
.electron-app
.venv
__pycache__
scripts/__pycache__
*.exe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
